body {
    min-height: 100%;
}

.sidenav, nav, h1, h2, h3, h4, h5 {
    font-family: 'Oswald', 'Helvetica', 'Arial';
}
nav {
    background-color: #EB091E;
    margin-bottom: 1em;
}

nav .container {
    height: 100%;
}
.brand-logo, .brand-logo img {
    height: 100%;
    width: auto;
}

.carousel {
    height: auto;
}

p {
    text-align: justify;
    color: #555;
    margin: 0 1em;
}

a {
    color: #343434;
}

.call-to-action {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
}

.btn-large {
    background-color: #EB091E;
}
.btn-large:hover {
    background-color: #f44336 
}

.btn.search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.material-icons.active,
input.active {
    color: #f44336;
}

form .row {
    margin-bottom: 0;
}

.radio p {
    margin-bottom: .5em;
}
.radio-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.radio-title {
    font-size: 14px;
    margin-left: .5em;
}

button {
    float: right;
    margin-right: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: #EB091E;
    margin-top: 2em;
}

footer img {
    height: 70%;
}

footer a {
    color: #fff;
    font-size: 1em;
}